<nav class="navbar navbar-dark bg-dark" style="margin-top: -10px; padding-top: 0; padding-bottom: 67px;">
  <a class="navbar-brand text-white">Editing {{toDoItem.title}} to-do</a>
  <ul>
    <button class="btn btn-info my-2 my-sm-0" (click)="onUserInfo()">User Info</button>
    <button class="btn btn-danger my-2 my-sm-0" style="margin-left: 15px;" (click)="onLogout()">Logout</button>
  </ul>    
</nav>

<div>
  
  <div class="form-group row" style="margin: 30px;">
    <label for="inputEmail3" class="col-form-label" style="text-transform: none;">Title: &nbsp;&nbsp;&nbsp;</label>
    <div class="col-sm-4">      
        <input style="" type="email" [(ngModel)]="toDoItem.title" class="cardform-control" id="inputEmail3" style="background: white; color: #000;">
    </div>    
  </div>
  <div class="form-group row" style="margin: 30px;">
      <label for="inputEmail3" class="col-form-label" style="text-transform: none;">Details: </label>
      <div class="col-sm-4">
          <input type="email" [(ngModel)]="toDoItem.text" class="form-control" id="inputEmail3" style="background: white; color: #000;">
      </div>    
    </div>
  <div class="form-group row" style="margin: 30px;">
    <label for="inputEmail3" class="col-form-label" style="text-transform: none;">IsDone: </label>
    <div class="col-sm-1">
        <label>
            <input type="checkbox" [(ngModel)]="toDoItem.isDone" class="filled-in" />
            <span><h6 style="color: black; display: inline; font-weight: bolder;"> {{ todo.title }}</h6> </span>
          </label>
    </div>    
  </div>
  <div class="form-group row" style="margin: 20px;">
      <div class="col-sm-1">
          <button type="button" (click)="onEditToDo(toDoItem)" class="btn btn-outline-primary">Submit</button>
      </div>    
      <div class="col-sm-1">
          <button type="button" style="margin-left: 15px;" (click)="onDeleteToDo(toDoItem)" class="btn btn-danger">Delete</button>
      </div>  
    </div>



</div>